a{
    color: red;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: red;
    text-decoration: underline;
    
}
a:active{
    background-color: orange;
    text-decoration: none;
}


a:focus{
    color: blue;
    text-decoration: underline;
}

a:link {
    color: green;
    

}