body{
    background-color: #cfc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

*{
    color: #00f;
}

h1{
    color:#f00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}
h2{
    color:#a00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

span{
    color:#060
}

.font-20px{
    font-size: 20px;
    font
}

.back-black{
    color: #fff;
    background-color: black;
    font-style: italic;
}